// Default values.
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
// font-family: 'Arimo', sans-serif;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    .topnav-container {
        position: relative;
        width: auto;
        padding: 20px;
        background-color: #000;

        .topnav {
            overflow: hidden;

            a {
                padding: 6px;
                color: #d9dbdb;
                font-size: 1.1rem;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Arimo', sans-serif;
            }

            a:hover {
                color: #E50914;
                transition: 0.25s ease-in-out;
            }

            .topnav-center a {
                float: none;
                padding: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                img {
                    height: 50px;
                }
            }

            .topnav-center a:hover {
                opacity: 0.8;
            }

            .topnav-right {
                float: right;
            }

            // media queries for desktop will be done later on. Adding that will change the icons to text.
            // For now, don't display the text.
            .mobile {
                display: none;
            }
        }
    }

    .search-container {
        width: 100%;

        .search-bar {
            height: 82px;
            width: 100%;
            z-index: 1;
            top: 0;
            left: 0;
            position: fixed;
            overflow: hidden;
            overflow-x: hidden;
            text-align: center;
            font-family: 'Arimo', sans-serif;
            transition: 0.2s ease-in-out;
            border-right: 1px solid rgba(190, 189, 189, 0.267);
            background-color: #000;

            .input-search {
                height: 70px;
                width: 70vw;
                border: none;
                outline: none;
                font-size: 0.95rem;
                background-color: #000;
                color: #fff;
            }

            .closebtn {
                position: absolute;
                top: 25%;
                text-decoration: none;
                font-size: 2rem;
                color: #fff;
            }

            .closebtn:hover {
                color: #bb1e10;
                transition: 0.25s ease-in-out;
            }
        }
    }

    // burger menu
    .sidenav-container {
        height: 100%;
        width: 100%;

        .sidenav {
            height: 100%;
            width: 0; // width is defined by JavaScript
            z-index: 1;
            top: 0;
            left: 0;
            position: fixed;
            overflow-x: hidden;
            padding-top: 65px;
            background-color: #fff;
            border-right: 1px solid rgba(190, 189, 189, 0.267);
            font-family: 'Arimo', sans-serif;
            transition: 0.6s;
        }

        a {
            display: block;
            padding: 8px 8px 8px 32px;
            color: #909494;
            font-size: 1.03rem;
            text-decoration: none;
            transition: 0.3s;
        }

        a:hover {
            color: #E50914;
            transition: 0.25s ease-in-out;
        }

        .closebtn {
            position: absolute;
            padding: 0;
            top: 10px;
            right: 15px;
            font-size: 2.3rem;
            color: #909494;
        }

        .closebtn:hover {
            color: #bb1e10;
            transition: 0.25s ease-in-out;
        }

        .accordion {
            padding: 8px 8px 10px 32px;
            width: 100%;
            border: none;
            outline: none;
            cursor: pointer;
            text-align: left;
            font-size: 1.03rem;
            color: #909494;
            background-color: #fff;
            transition: 0.4s;
        }

        .active,
        .accordion:hover {
            color: #E50914;
            background-color: rgba(153, 152, 152, 0.144);
            transition: 0.25s ease-in-out;
        }

        .accordion:after {
            content: '\002B';
            font-weight: bold;
            float: right;
            margin-right: 15px;
        }

        .active:after {
            content: "\2212";
        }

        .panel {
            padding: 0;
            max-height: 0;
            overflow: hidden;
            background-color: #fff;
            transition: max-height 0.2s ease-out;

            p {
                right: -25px;
                font-size: 1.03rem;
            }

            li {
                list-style: none;

                a {
                    margin-left: -25px;
                    font-size: 1rem;
                }
            }
        }

        .line {
            width: 190px;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid rgba(190, 189, 189, 0.267);
        }
    }
}

@media (min-width: 769px) {
    header {
        .topnav-container {
            padding: 25px;
            .topnav {
                .topnav-center a {    
                    img {
                        height: 50px;
                    }
                }

                .mobile {
                    display: inline; // As the width of the screen gets wider, text will be displayed.                
                }

                .desktop {
                    display: none; // As the width of the screen gets wider, icons won't be displayed.
                }
            }
        }
    }
}