// Default values.
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
// font-family: 'Arimo', sans-serif;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}